html(xmlns="http://www.w3.org/1999/xhtml")

head
    script( src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js", type="text/javascript")
    link( href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" )
    link( href="/css/index.css" rel="stylesheet" )
    script( src="/js/index.js", defer, type="text/javascript")
body
    .row
        .col-2.border-r
            p.nav-title KeyCloak: UI
            nav.navbar
                nav.nav.nav-pills.flex-column
                    a.nav-link( id="login") login.ftl
                    nav.nav.nav-pills.flex-column
                        label.checkbox error message
                            input.nav-link.ml-3.my-1(type="checkbox", id="login-error")
                        label.checkbox links block
                            input.nav-link.ml-3.my-1(type="checkbox", id="login-links")
                        label.checkbox only forgot password link
                            input.nav-link.ml-3.my-1(type="checkbox", id="login-linksForgotPassword")
                        label.checkbox only register link
                            input.nav-link.ml-3.my-1(type="checkbox", id="login-linksRegister")
                        label.checkbox Remember Me block
                            input.nav-link.ml-3.my-1(type="checkbox", id="login-linksRememberMe")
                        label.checkbox set Email as Username
                            input.nav-link.ml-3.my-1(type="checkbox", id="login-emailAsUsername")
                    a.nav-link( id="change-password") change-password.ftl
                    nav.nav.nav-pills.flex-column
                        label.checkbox error message
                            input.nav-link.ml-3.my-1(type="checkbox", id="change-password-error")
                    a.nav-link( id="current-password") current-password.ftl
                    nav.nav.nav-pills.flex-column
                        label.checkbox error message
                            input.nav-link.ml-3.my-1(type="checkbox", id="change-password-error" )
                    a.nav-link( id="error") error.ftl
                    nav.nav.nav-pills.flex-column
                        label.checkbox button
                            input.nav-link.ml-3.my-1(type="checkbox", id="error-client" )
                    a.nav-link( id="forbidden") forbidden.ftl
                    a.nav-link( id="info") info.ftl
                    a.nav-link( id="login-config-totp") login-config-totp.ftl
                    nav.nav.nav-pills.flex-column
                        label.checkbox add error message
                            input.nav-link.ml-3.my-1(type="checkbox", id="login-config-totp-error") 
                    a.nav-link( id="login-reset-password") login-reset-password.ftl
                    nav.nav.nav-pills.flex-column
                        label.checkbox add error message
                            input.nav-link.ml-3.my-1(type="checkbox", id="login-reset-password-error")
                    a.nav-link( id="login-update-password") login-update-password.ftl
                    a.nav-link( id="login-update-profile") login-update-profile.ftl
                    a.nav-link( id="login-verify-email") login-verify-email.ftl
                    a.nav-link( id="register") register.ftl
        .col-10
            div( id='selected-template')
                <iframe id='iframe-template' src="" seamless></iframe>
                

